#MainMap{
    position: absolute;
    padding: 0;
    margin: 0;
    top: -0.1%;
    left: -0.1%;
    width: 100%;
    height: 100%;
}

#countryInfo{
    position: absolute;
    right: 5%;
    bottom: 5%;
    z-index: 900;
    text-align: center;
}

#logo{
    max-width: 20%;
    position: absolute;
    left: 5%;
    bottom: 5%;
    z-index: 900;
}

#logo_name{
    font-family: 'Roboto Slab', serif;
}

#logo_author{
    font-family: 'Caveat', cursive;
}

.sourceThreat{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: indianred;
    border:  3px solid lightcoral;
    animation: sizePulsingThreat 1s infinite;
}

.source{
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background-color: #4acd14;
    border:  3px solid #5ff031;
    animation: sizePulsing 1s infinite;
}

.destination{
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background-color: #f0d341;
    border:  3px solid #f0d341;
}

@keyframes sizePulsing {
    0%{
        background-color: green;
    }
    50%{
        background-color: greenyellow;
        width: 30px;
        height: 30px;
        top: -5px;
        left: -5px;
    }
    100%{
        background-color: green;
    }
}

@keyframes sizePulsingThreat {
    0%{
        background-color: darkred;
    }
    50%{
        background-color: red;
        width: 30px;
        height: 30px;
        top: -5px;
        left: -5px;
    }
    100%{
        background-color: darkred;
    }
}

.botnetMember{
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background-color: darkblue;
    border: 3px solid lightcoral;
}

.ip{
    cursor: pointer;
}

.countryInfo{
    position: absolute;
    z-index: 950;
    right: 0;
    top: 0;
    width: 25vw;
    height: 100%;
    margin-right: 0;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
}